<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>Controler.ControlerEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerDespachador</servlet-name>
        <servlet-class>Controler.ControlerDespachadores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerCategoria</servlet-name>
        <servlet-class>Controler.ControlerCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerProductos</servlet-name>
        <servlet-class>Controler.ControlerProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardActividades</servlet-name>
        <servlet-class>Controler.DashboardActividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCliente</servlet-name>
        <servlet-class>Controler.CrearCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerPedidos</servlet-name>
        <servlet-class>Controler.ValidarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarPedido</servlet-name>
        <servlet-class>Controler.GestionarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDePedido</servlet-name>
        <servlet-class>Controler.GestionDePedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerCliente</servlet-name>
        <servlet-class>Controler.ControlerCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MirarProductos</servlet-name>
        <servlet-class>Controler.MirarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerPedido</servlet-name>
        <servlet-class>Controler.ControlerPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlerPedido</servlet-name>
        <url-pattern>/ControlerPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerDespachador</servlet-name>
        <url-pattern>/ControlerDespachador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerCategoria</servlet-name>
        <url-pattern>/ControlerCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerCliente</servlet-name>
        <url-pattern>/ControlerCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerProductos</servlet-name>
        <url-pattern>/ControlerProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardActividades</servlet-name>
        <url-pattern>/DashboardActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCliente</servlet-name>
        <url-pattern>/CrearCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerPedidos</servlet-name>
        <url-pattern>/ControlerPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarPedido</servlet-name>
        <url-pattern>/GestionarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDePedido</servlet-name>
        <url-pattern>/GestionDePedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MirarProductos</servlet-name>
        <url-pattern>/MirarProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
